
.user-chosen {
  min-height: 4rem;
}

.labelField {
  font-size: 16px;
  font-weight: 500;
  margin-right: 10px;
}

.valueField {
  font-size: 14px;
  font-weight: 400;
}

.cursor-pointer {
  cursor: pointer;
}

.first-col {
  min-width: 40%;
}
