<div class="form container">
  <div>
    <div class="row">
      <div class="col-sm-4">{{'Name' | translate}}</div>
      <div class="col-sm">{{formValues.name}}</div>
    </div>
    <div class="row">
      <div class="col-sm-4">{{'Age' | translate}}</div>
      <div class="col-sm">{{formValues.age}}</div>
    </div>
    <div class="row">
      <div class="col-sm-4">{{'Password' | translate}}</div>
      <div class="col-sm">{{formValues.password}}</div>
    </div>
    <div class="row">
      <div class="col-sm-4">{{'Birthday' | translate}}</div>
      <div class="col-sm">{{formValues.birthday}}</div>
    </div>
    <div class="row">
      <div class="col-sm-4">{{'Date of login' | translate}}</div>
      <div class="col-sm">{{formValues.dateOfLogin}}</div>
    </div>
    <div class="row">
      <div class="col-sm-4">{{'Date of notification' | translate}}</div>
      <div class="col-sm">{{formValues.dateOfNotification}}</div>
    </div>
    <div class="row">
      <div class="col-sm-4">{{'Information' | translate}}</div>
      <div class="col-sm">{{formValues.information}}</div>
    </div>
  </div>
  <button (click)="click()"> Crutch for loading information </button>
</div>
