<div class="form container">
  <div class="col-xs-5 col-xm-5 col-lg-5 col-md-5">
    <form [formGroup]="userForm">
      <div class="form-group">

        <label>{{'Name' | translate}}</label>
        <input type="text" class="form-control" formControlName="name" placeholder="{{'Name' | translate}}">

        <div *ngIf="userForm.get('name').pending && userForm.get('name').dirty">
          Loading....
        </div>

        <div *ngIf="userForm.get('name').invalid && userForm.get('name').touched ">
          <div *ngIf="userForm.get('name').errors['required']"
               class="alert alert-danger">
            {{'Empty' | translate}}
          </div>
          <div *ngIf="userForm.get('name').errors['moreTwoWords']"
               class="alert alert-danger">
            {{'Name error' | translate}}
          </div>
        </div>

        <div class="form-group">

          <label>{{'Age' | translate}}</label>
          <input type="text" class="form-control" formControlName="age" placeholder="{{'Age' | translate}}"
                 maxlength="2">

          <div *ngIf="userForm.get('age').invalid && userForm.get('age').touched">
            <div *ngIf="userForm.get('age').errors['required']"
                 class="alert alert-danger">
              {{'Empty' | translate}}
            </div>
            <div *ngIf="userForm.get('age').errors['age']"
                 class="alert alert-danger">
              {{'Age error' | translate}}
            </div>
          </div>

        </div>

        <div class="form-group">
          <label>{{'Password' | translate}}</label>
          <input type="text" class="form-control" formControlName="password" placeholder="Enter your password">
        </div>


        <div class="form-group">

          <label>{{'Birthday' | translate}}</label>
          <input type="text" class="form-control" formControlName="birthday" placeholder="YYYY/MM/DD">

          <div *ngIf="userForm.get('birthday').invalid && userForm.get('birthday').touched">
            <div *ngIf="userForm.get('birthday').errors['required']"
                 class="alert alert-danger">
              {{'Empty' | translate}}
            </div>
            <div *ngIf="userForm.get('birthday').errors['birthday']"
                 class="alert alert-danger">
              {{'Date error 1' | translate}}
            </div>
          </div>

        </div>

        <div class="form-group">

          <label>{{'Date of login' | translate}}</label>
          <input type="text" class="form-control" formControlName="dateOfLogin" placeholder="DD MMMM YYYY">

          <div *ngIf="userForm.get('dateOfLogin').invalid && userForm.get('dateOfLogin').touched">
            <div *ngIf="userForm.get('dateOfLogin').errors['required']"
                 class="alert alert-danger">
              {{'Empty' | translate}}
            </div>
            <div *ngIf="userForm.get('dateOfLogin').errors['dateOfLogin']"
                 class="alert alert-danger">
              {{'Date error 2' | translate}}
            </div>
          </div>

        </div>

        <div class="form-group">

          <label>{{'Date of notification' | translate}}</label>
          <input type="text" class="form-control" formControlName="dateOfNotification"
                 placeholder="DD-MMM-YY">

          <div *ngIf="userForm.get('dateOfNotification').invalid && userForm.get('dateOfNotification').touched">
            <div *ngIf="userForm.get('dateOfNotification').errors['required']"
                 class="alert alert-danger">
              {{'Empty' | translate}}
            </div>
            <div *ngIf="userForm.get('dateOfNotification').errors['dateOfNotification']"
                 class="alert alert-danger">
              {{'Date error 3' | translate}}
            </div>
          </div>

        </div>

        <div class="form-group">

          <label>{{'Information' | translate}}</label>
          <input type="text" class="form-control" formControlName="information"
                 placeholder="Enter your information">

        </div>

        <button class="successBTN btn-block" type="submit" [disabled]="userForm.invalid" (click)="submitHandler()">
          {{'Submit' | translate}}
        </button>
      </div>
    </form>
  </div>
</div>
