<div class="form col-xs-5 col-xm-5 col-lg-5 col-md-5">

  <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()">

    <label>{{'Name' | translate}}</label>
    <input type="text" class="form-control" formControlName="name" placeholder="{{'Name' | translate}}">

    <div *ngIf="passwordForm.get('name').invalid && passwordForm.get('name').touched ">
      <div *ngIf="passwordForm.get('name').errors['required']"
           class="alert alert-danger">
        {{'Empty' | translate}}
      </div>
      <div *ngIf="passwordForm.get('name').errors['moreTwoWords']"
           class="alert alert-danger">
        {{'Name error' | translate}}
      </div>
    </div>

    <input type="submit" class="successBTN btn-block" [disabled]="passwordForm.invalid" value="{{'Restore password button' | translate}}">
    <input type="submit" class="successBTN btn-block" [routerLink]="'/login'" value="{{'Back' | translate}}">


  </form>
</div>


